body {
    color: #b8bfc6;
    background: #363b40;
}

.article strong,
.article b {
    color: #b8bfc6;
}

.article {
    background: #363b40;
    color: #b8bfc6;
}

.article a:link,
.article a:visited {
    color: #e0e0e0;
}

.article a:hover {
    color: #fff;
}

.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
    color: #dedede;
}

.article pre {
    background: #222222;
    border: 1px solid #21273D;
}

.article-end {
    color: white;
    background: #424242;
}

.article table th,
.article table td,
.article table caption {
    border: 1px solid #ddd;
}

.article table thead th {
    color: #dedede;
}

.article em,
.article legend,
.article caption {
    color: #dedede;
}